{{> verticalmenu }}



<div class="content">
  {{> horizontalmenu }}
  
  <div class="banner">
    <p>Adoptar es <span>Amar</span></p>
    <p>CAMBIA SU VIDAD Y SUMA <span>Felicidad</span> A LA TUYA</p>
  </div>
  <div class="home">
    <div class="home__pet-title">
      <h2>CONOCE A TU <span>MASCOTA IDEAL</span></h2>
    </div>
    <div class="home__pet-content">
      {{#each pets}}
        <a href="/pet/{{this.id}}" class="home__pet-pet b-m">
          <span class="text-m">{{this.nombre}}</span>
          <img src="{{this.photo}}" alt="{{this.nombre}}">
          <span class="home__pet-sub">Adopta a tu mejor amigo</span>
        </a>
      {{/each}}
   
    </div>
    <div class="home__pet-subtitle">
      <a href="/pets"><i class="fas fa-dog"></i> Conoce más mascotas aquí <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="home__amenidades">
      <div class="home__amenidades-content">
        <h3 class="home__amenidades-title"><span>HISTORIAS</span> <strong>PARA ENMARCAR</strong></h3>
        {{#each stories}}
          <div class="home__amenidad-{{this.id}} home__amenidad">
            <img src="{{ this.url }}" alt="{{this.nombre}}">
            <a href="/history/{{this.id}}">Ver Historia</a>
          </div>
       {{/each}}
        <div class="home__amenidades-subtitle">
          <a href="/stories"><i class="fas fa-paw"></i> Ver más historias aquí <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="home__steps">
      <h3>EN HAPPYPET PUEDES ADOPTAR <span>A TU MASCOTA IDEAL</span></h3>
      <img src="images/pet.png" alt="">


    </div>
    <div class="home__news">
      <h3>ENTERATE DE <span>LO ULTIMO</span></h3>
      <div class="home__news-content">
        {{#each news}}
          <div class="home__new">
            <img src="{{ this.url }}" alt="new">
            <a href="/new/{{this.id}}">Ver Noticia</a>
          </div>
        {{/each}}
      </div>
      <div class="home__news-subtitle">
        <a href="/news"><i class="fas fa-paw"></i> Ver más noticias <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  {{> footer }}
</div>